<?xml version="1.0"?>
<robot name="my_robot">

<material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.203125 0.23828125 0.28515625 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.80078125 0.12890625 0.1328125 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  
    <gazebo reference="link_chassis">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="link_left_wheel">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="link_right_wheel">
    <material>Gazebo/Blue</material>
  </gazebo>
  
  
<!--
  
  <link name="base_link">
      <pose>0 0 0.1 0 0 0</pose>
    <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0.013449 -0.000001 -0.024081"/>
      <inertia ixx="1.392949" ixy="0" ixz="-0.000108" iyy="1.392846" iyz="-0.000000" izz="-1.000000"/>
    </inertial>
	<visual>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	<geometry>
        <mesh filename="package://per_robot_urdf/meshes/two_plate.dae"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision >
      <geometry>
        <mesh filename="package://per_robot_urdf/meshes/two_plate.dae"/>
      </geometry>
    </collision>

  </link>

<joint name="joint_right_wheel" type="continuous">
	<parent link="base_link"/>
	<child link="right_wheel"/>
	<origin xyz="0 -0.30 0" rpy="0 0 0" />
	<axis xyz="0 1 0" />
</joint>
-->
  


    <link name="link_right_wheel">
    <inertial>
      <mass value="0.2"/>
      <origin rpy="0 1.570700 1.0472" xyz="1.10000 1.9 -0.3"/>
      <inertia ixx="0.000526666666667" ixy="0" ixz="0" iyy="0.000526666666667" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="link_right_wheel_collision">
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
	<geometry>
	 <cylinder length="2.1" radius="2.2" />
	</geometry>
    </collision>
    <visual name="link_right_wheel_visual">
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
	<geometry>
	 <cylinder length="2.1" radius="2.2" />
	</geometry>
    </visual>
  </link>

        
  

      
      
      
            
     
  
 <!--    <joint type="continuous" name="right_wheel_hinge">
      <origin xyz="1.10000 1.9 -0.3" rpy="0 1.570700 1.0472"/>
      <axis rpy="0 1.570700 1.0472" xyz="1.10000 1.9 -0.3"/>
       <child link="right_wheel"/>
       <parent link="base_link"/>
       <limit effort="10000" velocity="1000"/>
       <joint_properties damping="1.0" friction="1.0"/>
   </joint>

  -->

      
      
      
      
      
      
</robot>
