<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find rob_pkg)/config/spawn_urdf.yaml" command="load"/> 
    <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args=" /robot/joint_state_controller 
                                      /robot/right_joint_velocity_controller
                                      "/>
   <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" ns="/robot"  output="screen">
    <remap from="/joint_states" to="robot/joint_states" />
  </node>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rob_pkg)/urdf/my_model.xacro"/>  
    
  <node name="subscriber_py" pkg="rob_pkg" type="joints_receive_from_arduino.py" output="screen"/> 

    <node name="robot_hardware_interface" pkg="rob_pkg" type="single_joint_hardware_interface" output="screen"/>

   
          
</launch>
