<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rob_pkg)/urdf/my_model.xacro"/>  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
   <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" ns="/robot"  output="screen">
    <remap from="/joint_states" to="robot/joint_states" />
  </node>

  <!--RViz-->
  <node name="rviz" pkg="rviz" type="rviz" required="true"/>

  
  
</launch>
